@model IEnumerable<DesafioFortes.MVC.ViewModels.FornecedorViewModel>

@{
    ViewBag.Title = "Especiais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Especiais</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailContato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeContato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailContato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeContato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FornecedorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FornecedorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FornecedorID })
        </td>
    </tr>
}

</table>
