@model DesafioFortes.MVC.ViewModels.PedidoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PedidoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data do pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>

        <dt>
            Total do Pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            Qtd Itens
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeProdutos)
        </dd>

        <dt>
            Fornecedor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.RazaoSocial)
        </dd>           

    </dl>
    <table class="table">
        <tr>
            <th>
                Nome
            </th>
            <th>
               Valor
            </th>                      
        </tr>

        @foreach (var item in Model.Produtos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>                             
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
