@model DesafioFortes.MVC.ViewModels.PedidoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PedidoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeProdutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeProdutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FornecedorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FornecedorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
