@model IEnumerable<DesafioFortes.MVC.ViewModels.PedidoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Data do Pedido
        </th>
        <th>
           Valor Total
        </th>
        <th>
            Quantidade de Itens
        </th>
        <th>
            Fornecedor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeProdutos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornecedor.RazaoSocial)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PedidoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PedidoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PedidoID }) |
            @Html.ActionLink("Listar Por Fornecedor", "ListarPorFornecedor", new { id = item.FornecedorID })
        </td>
    </tr>
}

</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Pedidos/carregarProdutos.js"></script>


