@model IEnumerable<DesafioFortes.MVC.ViewModels.PedidoViewModel>

@{
    ViewBag.Title = "ListarPorFornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListarPorFornecedor</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeProdutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FornecedorID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeProdutos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornecedor.RazaoSocial)
        </td>       
    </tr>
}

</table>
